// Colors in fonts and backgrounds.
$voltera-blue: #333E48; // For light backgrounds.
$voltera-green: #79ce00;
$light-font: #FFF; // For dark backgrounds
$soft-grey: #8A9093; // Used in footer



// Background colors
$white-background: #fff;
$grey-background: rgb(240,240,240);

// General Dimensions
$max-width: 1200px;
$narrow-width: 1100px;
$header-height: 75px;

// Section paddings
$horizontal-padding: 20px; // How close items can get to the edge.
$vertical-padding: 40px; // Distance between sections (usually a color change)


// Transition time
$t-time: 0.1s;
