// Colors
$voltera-blue: #333E48;
$voltera-green: #79ce00;
$light-font: #FFF; // For dark backgrounds
$dark-font: #384953; // For light backgrounds
$header-font: #384953;
$soft-grey: #8A9093;

// General Dimensions
$max-width: 1200px;
