@import './colors.scss';

body {
  color: $voltera-blue;
  font-family: 'Open Sans', sans-serif;
  margin: 0px
}

.container {
  display: flex;
  flex-direction: column;
}
.page-content {
  flex-grow: 1;
}

// A Section is an element that spans the width of the page.
.section {
  padding: 40px 20px;
}

h1 {
  color: $voltera-blue;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: $voltera-blue;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;

}

h3 {
  color: $voltera-blue;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

a {
    cursor: pointer;
    color: $voltera-green;
    transition: all $t-time ease-in-out 0s;
}

.dummy-header {
  height: $header-height;
}
