@import './colors.scss';

body {
  font-family: 'Open Sans', sans-serif;
  color: $voltera-blue;
  margin: 0px;
}

h1 {
  color: $voltera-blue;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: $voltera-blue;
  font-weight: 400;
  font-size: 1.8em;
  text-align: center;

}

h3 {
  color: $voltera-blue;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

a {
    cursor: pointer;
    color: $voltera-green;
    text-decoration: none;
    transition: all $t-time ease-in-out 0s;
}

.header-caption {
  text-align: center;
}

.dummy-header {
  height: $header-height;
}
