@import 'src/css/colors';

.store-wrapper {

  .collection-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .product-snippet {
    max-width: 230px;
    border-radius: 10px;
    margin: $small-padding 10px;
    padding: $small-padding $small-padding;

    display: flex;
    flex-direction: column;
  }

  .product-snippet:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-decoration: none;
  }

  .product-snippet .price {
    color: $voltera-green;
    margin: 0px;
  }

  .product-snippet .description {
    color: $soft-grey;
    font-size: 0.8em;
  }

  .product-snippet img {
    width: 100%;
    height: auto;
  }

}


.product-wrapper {
  max-width: $narrow-width;

  .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .information img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }

  .information .details {
    width: 500px;
  }

  .information .price {
    color: $voltera-green;
  }

  .information .sub-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: $small-padding 0px;
  }

  .information .quantity-input {
    padding: 5px;
    border-radius: 5px;
    border-style: groove;
  }
}

@media (max-width: $mobile-threshold) {
  .product-wrapper .information {
    flex-wrap: wrap-reverse;
  }
}
