@import 'src/css/colors';

// If you want a dark background.
.button.dark {
  background-color: $voltera-blue;
}

// If you want a light background
.button.light {
  background-color: $voltera-green;
  color: $voltera-blue;
}

.button.white {
  background-color: $white;
  color: $voltera-blue;
  border-color: $voltera-blue;
}
// If you want a clear background
.button.clear {
  background-color: transparent;
}

.button {
  cursor: pointer;
  display: inline-block;
  color: $white;
  border-style: solid;
  border-color: $white;
  border-width: 1px;
  border-radius: 2px;
  text-transform: uppercase;
  padding:0.9em 1.8em;
  font-weight: 600;
}

.button:hover {
    color:$voltera-blue;
    background-color: $white;
    border-color: $voltera-blue;
    text-decoration: none;
  }

  .button.white:hover {
    color:$white;
    background-color: $voltera-blue;
    border-color: $white;
  }
