@import 'src/css/colors';

.help-me {
  align-items: flex-start;

  .reason {
    max-width: 390px;
    text-align: center;
    margin: $small-padding 0px;
  }

  img {
    width: 80px;
    height: 80px;
  }

}
