@import 'src/css/colors';

.workflow-wrapper {
  padding: $medium-padding $small-padding;
}

.workflow .step {
  width: 260px;
  text-align: center;
}

.workflow .icon {
  width: auto;
  height: 80px;
}
.workflow .icon-arrow {
  height: 30px;
  width: 30px;
}

@media (max-width: $mobile-threshold) {
  .workflow {
    flex-direction: column;
  }
  .workflow .icon-arrow {
    //width: 40px;
    padding: $medium-padding 0px;
    transform: rotate(90deg);
  }
}
