@import 'src/css/colors';

.store-wrapper .collection-separator {
  border-top: solid 1px $divider;
  max-width: $max-width;
  margin: auto;
}

.store-wrapper .no-top {
  padding-top: 0px;
}

@media (max-width: $mobile-threshold) {
  .store-wrapper .collection-separator {
    margin: 0px $small-padding;
  }
}
