@import 'src/css/colors';

.lightbox {
background-color: rgba(0, 0, 0, 0.95);
position: fixed;
top: $header-height + 35px;
left: 0px;
width: 100%;
height: calc(100vh - 75px - 35px);

display: flex;
justify-content: center;
align-items: center;
padding: $small-padding $small-padding;
box-sizing: border-box;

z-index: 1;

color: $white;
}

.lightbox-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  //max-height: 800px;
  z-index: 2;
}

.lightbox img {
  max-width: 100%;
}

.lightbox h1 {
  color: $white;
  text-align: left;
  width: 100%;
}
.lightbox p {
  margin-top: 0px;
  width: 100%;
}

.no-lightbox img {
   width: 360px;
   height: 203px;
}
