@import 'src/css/colors';

  .product-snippet {
    width: 230px;
    border-radius: 10px;
    margin: $small-padding 10px;
    padding: $small-padding $small-padding;

    display: flex;
    flex-direction: column;
  }

  .product-snippet:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-decoration: none;
  }

  .product-snippet .price {
    color: $voltera-green;
    margin: 0px;
  }

  .product-snippet .description {
    color: $soft-grey;
    font-size: 0.8em;
  }

  .product-snippet img {
    width: 100%;
    height: auto;
  }
