@import 'css/colors';

.bullet {
color: $voltera-blue;
}
.bullet-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  margin:10px;
  width: 280px;
  margin: auto;

  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.bullet:hover, .highlight {
  background-color: $voltera-green;
  color: $light-font;
}
.bullet p {
  padding-left: 20px;
  margin: 0px;
  text-transform: capitalize;
  font-size: 1.0em;
}
.bullet svg {
  width: 50px;
  height: 50px;
}
.bullet svg path {
  fill: $voltera-blue;
}
.bullet:hover svg path, .highlight svg path {
    fill: $light-font;
}
