@import "src/css/colors";

.box-wrapper {
  h2 {
    text-align: left;
  }

  .mobile-contents p {
    line-height: 1.4em;
  }

  .description {
    max-width: 500px;
  }

  .in-the-box {
    background-image: url("./v-one-box-min.png");
    background-position: bottom;
    width: 600px;
    height: 400px;
    position: relative;
    flex-shrink: 0;

    .outline {
      opacity: 0;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: top;
      position: absolute;
    }

    .outline:hover {
      opacity: 1;
    }

    .visible {
      opacity: 1;
    }

    .v-one {
      background-image: url("./v-one.min.svg");
      top: 42px;
      left: 86px;
      width: 473px;
      height: 287px;
    }

    .burnishing-pad {
      background-image: url("./burnishing-pad.min.svg");
      left: 127px;
      top: 225px;
      width: 99px;
      height: 89px;
    }

    .nozzles {
      background-image: url("./nozzles.min.svg");
      left: 234px;
      top: 279px;
      width: 119px;
      height: 77px;
    }

    .solder-wire {
      background-image: url("./solder-wire.min.svg");
      left: 366px;
      top: 341px;
      width: 31px;
      height: 24px;
    }

    .substrates {
      background-image: url("./substrates.min.svg");
      top: 281px;
      left: 53px;
      width: 157px;
      height: 68px;
    }

    .dispenser-ink {
      background-image: url("./dispenser-ink.min.svg");
      top: 193px;
      left: 336px;
      width: 53px;
      height: 153px;
    }

    .dispenser-paste {
      background-image: url("./dispenser-paste.min.svg");
      left: 236px;
      top: 180px;
      width: 53px;
      height: 153px;
    }

    .cartridge-paste {
      background-image: url("./cartridge-paste.min.svg");
      top: 235px;
      left: 278px;
      width: 36px;
      height: 95px;
    }

    .cartridge-ink {
      background-image: url("./cartridge-ink.min.svg");
      top: 251px;
      left: 381px;
      width: 38px;
      height: 101px;
    }

    .probe {
      background-image: url("./probe.min.svg");
      top: 87px;
      left: 314px;
      width: 36px;
      height: 98px;
    }

    .clamps {
      background-image: url("./clamps.min.svg");
      top: 188px;
      left: 292px;
      width: 190px;
      height: 59px;
    }
  }
}
