@import 'css/colors';

.footer {
  background-color: $voltera-blue;
  width: 100%;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin:auto;
  max-width: $max-width;
  padding: $vertical-padding $horizontal-padding 0px $horizontal-padding;
}

.footer .column {
  flex: auto;
}

.footer .column p {
  margin: 0px;
  color: $light-font;
  font-size: 1.2em;
}

.footer .column ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

.footer-wrapper li {
  color: $soft-grey;
  font-size: 14px;
  line-height: 1.8em;
  font-weight: 400;
}

.footer-wrapper a {
  color: $soft-grey;
}

.footer-wrapper a:hover{
  color: $voltera-green;
}

.footer-links {
  color: $soft-grey;
  font-size: 0.9em;
  max-width: $max-width;
  text-align: right;
  margin: auto;
  padding: 0px $horizontal-padding $vertical-padding $horizontal-padding;
}

.footer-links a {
  color: $soft-grey;
}

.footer-links a:hover {
  color: $voltera-green;
}
