@import "src/css/colors";

.wrapper {
  display: flex;
}

.document {
  h1 {
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 1.5em;
  }
  h3 {
    border-bottom-color: $voltera-green;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  span {
    color: grey;
    font-size: 0.9em;
  }

  li {
    margin: 10px 0px;
  }
}

.info {
  display: flex;
  margin: $small-padding;
  align-items: center;

  h2 {
    margin-top: 0px;
  }
}

.img-wrapper {
  margin-right: $small-padding;
}

@media (max-width: $mobile-threshold) {
  .info {
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-wrapper {
    margin: $small-padding;
  }
}
