@import "src/css/colors";

// Special markdown css
.safety-table {
  display: flex;
  align-items: center;
  img {
    max-width: 100px;
  }
  .right-space {
    margin-right: 40px;
  }
}

.info {
  border-radius: 15px;
  padding: 5px 10px;
  text-align: center;
}
.important {
  background-color: #ff9999;
}
.warning {
  background-color: lightgoldenrodyellow;
}

.media-wrapper {
  text-align: center;
  margin: $small-padding 0px;

  iframe, img {
    max-width: calc(100vw - 40px);
  }
}

.navigation {
  text-align: center;
  margin-top: $medium-padding;
  transition: all $t-time ease-in-out 0s;

  .left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .disabled {
    pointer-events: none;
    user-select: none;
    background-color: grey;
  }

  a {
    text-decoration: none;
    padding: 10px;
    margin: 5px 0px;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;

    background-color: $voltera-blue;
    color: $white;
  }
  a:hover {
    background-color: $white;

    border-color: $voltera-blue;
    color: $voltera-blue;
  }
}
