@import 'src/css/colors';

.wrapper {
  background-color: $medium-grey;
  padding: $medium-padding $small-padding;
  color: $white;
}

.testimonial {
  max-width: $narrow-width;
  margin: auto;
  align-items: center;
  display: flex;

  h3 {
    color: $white;
  }
}

.image-wrap {
  margin-left: 40px;
}

.testimonial img {
  border-radius: 90px;
  filter: grayscale(0.4);
}

.testimonial img:hover {
  filter: grayscale(0);
}

.quote {
  font-weight: 300;
  font-size: 1.5em;
  text-align: right;
}
.author {
  text-align: right;
}

@media (max-width: $mobile-threshold) {
  .testimonial {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .testimonial img {
    margin: 0px;
  }
  .quote {
    text-align: center;
  }
}
