@import 'src/css/colors';

.teaser .description {
  flex-basis: 500px;
  flex-grow: 0;
  text-align: justify;
}

.teaser .button-wrap {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: $mobile-threshold) {
  .teaser.paste-reverse {
    flex-wrap: wrap-reverse;
  }
}
