@import 'src/css/colors';

.teaser {
  padding: $medium-padding 0px;
}

.teaser .description {
  flex-basis: 500px;
  flex-grow: 0;
  text-align: justify;
}

.teaser .button-wrap {
  margin-top: 50px;
  text-align: center;
}
