@import 'src/css/colors';

.specs-wrapper {
background-color: $white;
}

.specs {
  margin: auto;
  max-width: $narrow-width;
  padding: $medium-padding $small-padding;
}

.specs .table {
    margin: 50px 0px;
}

.specs .row {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  text-align: left;
}

.specs .row.dark {
  background-color: darken($light-grey, 10);
}

.specs .category {
  flex-grow: 1;
}

.specs h3 {
  padding-bottom: 2px;
  margin-bottom: 0px;
  border-bottom-color: $voltera-green;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.specs .table p {
  margin: 5px 0px;
  text-transform: capitalize;
  font-size: 0.9em;
  flex-basis: 280px;
}


@media (max-width: $mobile-threshold) {
  .specs .table p {
    font-size: 0.7em;
    flex-basis: 120px;
  }
  .specs .row {
    padding: 0px 5px;
  }
}
