@import 'css/colors';

.awards-wrapper {
background-color: $white-background;
padding: $medium-padding $small-padding;
}

.awards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  max-width: $narrow-width;

}

.awards img {
  transition: all $t-time ease-in-out 0s;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  bottom: 0px;

  width: 200px;
  height: 120px;
}

.awards img:hover {
  bottom: 5px;

}
.awards h3 {
  text-align: center;
}

.awards .vertical {
  background-color: $voltera-blue;
  height: 120px;
  width: 1px;
}

@media (max-width: $mobile-threshold) {
  .awards {
    justify-content: space-around;

    h3 {
      font-size: 0.7em;
    }

    img {
      width: 150px;
      height: auto;
    }
  }
}
