@import 'src/css/colors';

.buyNow-wrapper {
  background-color: rgb(25,25,25);
}

.buyNow {
  max-width: $narrow-width;
  margin: auto;
  padding: $large-padding $small-padding;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: $light-font;
  }
}

@media (max-width: $mobile-threshold) {
  .buyNow {
  justify-content: center;
  }
  .buyNow .buttons {
    margin-top: $small-padding;
  }
}

.buyNow .button {
  margin-left: $small-padding;
}
