@import 'css/colors';
.benefits-wrapper {
  background-color: $white-background;
  padding: $medium-padding $small-padding;
}

.benefits {
  max-width: $max-width;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefit {
  flex-basis: 400px;
  text-align: center;
  padding: $medium-padding $small-padding;
  box-sizing: border-box;
}

.benefit .description {
  text-align: justify;
}

.benefit .button-wrap {
  padding: $small-padding 0px;
}

.benefit svg {
  width: 60px;
  height: 60px;
}

@media (max-width:$mobile-threshold) {
  .benefits {
    justify-content: center;
  }
}
