@import 'css/colors';

.button.dark {
  background-color: $voltera-blue;
}

.button.light {
  background-color: $voltera-green;
  color: $voltera-blue;
}

.button-wrapper {
  display: inline;
}

.button.clear {
  background-color: transparent;
}

.button {
  color: $light-font;
  border-style: solid;
  border-color: $light-font;
  border-width: 1px;
  text-transform: uppercase;
  text-decoration: none;
  padding:1em 2em;
  font-weight: 600;
}

.button:hover {
    color:$voltera-blue;
    background-color: $light-font
  }
