@import 'src/css/colors';

.workflow-wrapper {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  z-index: 1;
  position: relative;
  padding: $medium-padding $small-padding;
}

.workflow {
  max-width: $max-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.workflow .step {
  width: 260px;
  text-align: center;
}

.workflow .icon {
  width: auto;
  height: 80px;
}
.workflow .icon-arrow {
  width: 60px;
  height: 30px;
}

@media (max-width: $mobile-threshold) {
  .workflow {
    flex-direction: column;
  }
  .workflow .icon-arrow {
    height: 60px;
    width: 30px;
    padding: $medium-padding 0px;
  }
}
