@import 'src/css/colors';

.cart-wrapper {

  // Common Items to both desktop and mobile
  .promo {

    text-align: center;
    padding: 5px $small-padding;
    background-color: $light-grey;
    margin-bottom: $small-padding;

    .green {
      color: $voltera-green;
    }
  }

  .subtotal {
    font-size: 1.2em;
    color: $voltera-green;
    font-weight: 600;
  }

  .cart-buttons {
    margin-top: $small-padding;

    .button {
      margin-left: 5px;
    }
  }

  .controls {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    user-select: none;

    .addOrSubtract {
      background-color: $voltera-blue;
      border: solid $voltera-blue 1px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      color: white;
      text-align: center;
      transition: all $t-time ease-in-out 0s;
      cursor: pointer;
    }
    .addOrSubtract:hover {
      color: $voltera-blue;
      background-color: $white;
    }

    .add {
      margin-left: 10px;
    }
    .subtract {
      margin-right: 10px;
    }
  }

  // DESKTOP HEADERS //
  .cart-headers {
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 1px $soft-grey;

    h3 {
      text-align: right;
      min-width: 150px;
    }
  }
  .cart-row {
    display: flex;
    align-items: center;
    padding: $small-padding 0px;
    border-bottom: solid 1px $soft-grey;
    p {
      margin: 0px;
    }

    img {
      height: auto;
      max-width: 150px;
      margin-right: $small-padding;
    }

    .cart-row-details {
      flex-grow: 1;

      .title {
        font-size: 1.2em;
      }
      .remove {
        font-size: 0.9em;
      }
    }
    .cart-row-numbers {
      display: flex;
      align-items: center;
      text-align: right;
      p {
        width: 150px;
      }


    }
  }

  // MOBILE HEADERS //
  .cart-headers-mobile {
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px $soft-grey;
  }

  .cart-row-mobile {

    display: flex;
    flex-direction: column;
    padding: $small-padding 0px;
    border-bottom: solid 1px $soft-grey;

    p {
      margin: 0px;
    }

    .cart-row-details {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        height: auto;
        max-width: 100px;
        margin-right: $small-padding;
      }
    }
    .cart-row-numbers {
      display: flex;
      justify-content: space-around;
    }
    .controls {
      width: initial;
    }
  }
}
