@import 'src/css/colors';

.about-image {
  background-image: url('./v-one-assembly.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
}

.about {
  max-width: 800px;

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: $mobile-threshold) {
  .about-image {
    height: 200px;
  }
}
