@import 'css/colors';

.gallery {
background-color: $grey-background;
text-align: center;
}

.gallery-wrapper {
  max-width: $max-width;

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
