@import 'css/colors';

.feature .column-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.feature .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $medium-padding $small-padding;
}

// Print Probing.
.feature .row-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: $medium-padding $small-padding;
}

.feature .description {
  max-width: 500px;
  margin: $small-padding $small-padding;
  flex-shrink: 1;
}
