@import 'src/css/colors';

.collection-tab {
   display: flex;
   justify-content: space-around;
   padding: $small-padding 0px;
   border-bottom-style: solid;
   border-bottom-color: $voltera-blue;
   border-bottom-width: 1px;
}

.collection-tab:hover{
}
