@import 'src/css/colors';

.heater {
background-color: rgb(23, 23, 23);
border-bottom-color: $voltera-green;
border-bottom-width: thin;
border-bottom-style: solid;
padding: $medium-padding $small-padding;

}
.heater-wrapper {

  background-image: url('./Family800x400.png');
  background-position: center;
  background-repeat: no-repeat;
  max-width: $max-width;
  height: 400px;
  width: 800px;
  margin: auto;
}

.heater h1 {
  color: $light-font;
  text-align: right;
}

.heater .description {
  position: relative;
  width: 300px;
  top: 75px;
  left: 330px;
  color: $light-font;

}
