@import "src/css/colors";

.screenshot {
  box-shadow: 0px 0px 10px 0px black;
  flex-basis: 1000px;
}

.screenshot-caption {
  margin-bottom: $medium-padding;
}

.navigation {
  user-select: none;
  border-radius: 100%;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: $voltera-blue;
  cursor: pointer;
  transition: all $t-time ease-in-out 0s;
  margin: $small-padding;
  flex-shrink: 0;
}

.navigation:hover {
  background-color: $voltera-blue;
  color: $white;
}

@media (max-width: $mobile-threshold) {
  .navigation.left {
    transform: rotate(90deg);
  }
  .navigation.right {
    transform: rotate(90deg);
  }
}
