@import 'src/css/colors';

.hero {

  height: calc(85vh - 75px);
  background-size: cover;
  position: relative;
  background-color: $black;

  h1 {
    color: $white;
    font-size: 3.0em;
    line-height: 50px;
    margin-bottom: 0px;

  }
  p {
    font-size: 1.5em;
    margin: 0px;
    color: $white;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    margin: $small-padding $small-padding 0px 0px;
  }

  .dots-position {
    position: absolute;
    left: calc(50vw - 40px);
    bottom: 0px;
  }

}

// Specific to V-One Hero
.hero.v-one {
  background-image: url('./circuit-board-printer.jpg');
  background-position: bottom;

  .wrapper {
    margin: auto;
    padding-top: 15vh;
    padding-left: $small-padding;
    padding-right: $small-padding;
    max-width: $max-width;
  }

  h1 {
    text-align: left;
  }
}


// Specific to Drill Hero

.hero.drill {
  background-image: url('./drilling-attachment.jpg');
  background-position: top;

  .wrapper {
    text-align: center;
    margin: auto;
    padding-top: 15vh;
    padding-left: $small-padding;
    padding-right: $small-padding;
    max-width: $max-width;
  }

  h1 {
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}


.hero.dispensing {
  background-image: url('./dispensing-machine.jpg');
  background-position: top;

  .wrapper {
    text-align: right;
    margin: auto;
    padding-top: 15vh;
    padding-left: $small-padding;
    padding-right: $small-padding;
    max-width: $max-width;
  }

  h1 {
    text-align: right;
  }

  .buttons {
    justify-content: flex-end;
  }
}

@media (max-width: $mobile-threshold) {
  .hero h1 {
    font-size: 2.0em;
  }
  .hero p {
    font-size: 1.2em;
  }
}
