@import 'src/css/colors';

.hero {
  background-image: url('./circuit-board-printer.jpg');
  background-position: bottom;
  background-size: cover;
  height: calc(100vh - 75px);
}

.hero-wrapper {
  margin: auto;
  padding-top: 15vh;
  padding-left: $small-padding;
  padding-right: $small-padding;
  max-width: $max-width;
  height: 100%;
}

.hero .price {
  color: $voltera-green;
}

.hero h1 {
  color: $white;
  font-size: 3.0em;
  line-height: 50px;
  margin-bottom: 0px;
  text-align: left;
}
.hero p {
  font-size: 1.5em;
  margin: 0px;
  color: $white;
}

.hero .buttons {
  display: flex;
  flex-wrap: wrap;
}

.hero .button {
  margin: $small-padding $small-padding 0px 0px;
}

@media (max-width: $mobile-threshold) {
  .hero h1 {
    font-size: 2.0em;
  }
  .hero p {
    font-size: 1.2em;
  }
}
