@import "src/css/colors";

.background {
  background-image: url("./background.png");
  padding: 50px 0px;

  img {
    margin: 10px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  color: white;
}

.column-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.long-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  max-height: 500px;
  overflow: auto;
  padding: 20px 0px;
  border-width: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.more {
  text-decoration: underline;
  opacity: 0.6;
  cursor: pointer;
}

.more:hover {
  opacity: 1;
}

#wrapper-scroll::-webkit-scrollbar {
  width: 6px;
}

#wrapper-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}
