@import 'src/css/colors';

.contact {
  margin: auto;
  max-width: $narrow-width;
  padding: $medium-padding $small-padding;
}

.contact li {
  line-height: 1.7em;
  list-style: none;
}
.contact ul {
  padding: 0px;
}

.email-wrapper {
  display: flex;
  justify-content: space-around;
}

.email-wrapper h4 {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

.location-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $white;
  background-color: $voltera-green;
}

.location-wrapper .address {
  flex-grow: 1;
}

.location-wrapper h2 {
  text-align: left;
  color: $white;
}

.location-wrapper .address-wrapper {
    margin: auto;
    width: 240px;
}
