@import 'src/css/colors';

.store-hero-wrapper {
  background-color: $medium-grey;
  min-height: 400px;
  padding: 0px $small-padding;

  display: flex;
  align-items: center;

  h1 {
    color: $white;
    font-size: 2.5em;
  }
  p {
    font-size: 1.1em;
  }
}

.store-hero {
  margin: auto;
  max-width: $narrow-width;
  color: $white;
  text-align: center;
}

.mini-spacer {
  margin-top: $subheader-height;
}
