@import 'src/css/colors';

.hero-experiment {
  background-image: url('./dispensing-tool.jpg');
  background-position:center;
  background-size: cover;
  height: calc(100vh - 75px);
}

.hero-experiment-wrapper {
  margin: auto;
  padding-top: 25vh;
  padding-left: $small-padding;
  padding-right: $medium-padding;
  max-width: $max-width;
  text-align: right;
}

.hero-experiment h1 {
  color: $white;
  font-size: 3.0em;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 0px;
  text-align: right;
}
.hero-experiment p {
  font-size: 1.5em;
  margin-top: 0px;
  margin-bottom: 40px;
  color: $white;
}

.hero-experiment .button {
  //margin-right: 20px;
}
