@import 'css/colors';

.feature-table {
background-color: $grey-background;
padding: $vertical-padding $horizontal-padding;
}
.feature-table-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  max-width: $narrow-width;
  padding: 0px 10px;
}

.feature-table .vertical {
    background-color: $voltera-green;
    height: 30px;
    width: 1px;
}
