@import 'css/colors';

.contact {
  background-color: $white-background;
}

.contact-wrapper {
  margin: auto;
  max-width: $max-width;
  padding: $vertical-padding $horizontal-padding;
}

.contact li {
  line-height: 1.7em;
  list-style: none;
}
.contact ul {
  padding: 0px;
}

.email-wrapper {
  display: flex;
}

.email-wrapper .column {
  flex: auto;
}

.email-wrapper h4 {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

.location-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $voltera-green;
  color: $light-font;
}

.location-wrapper .address {
  flex-grow: 1
}

.location-wrapper h2 {
  text-align: left;
  color: $light-font;
}

.location-wrapper .address-wrapper {
  margin: auto;
  width: 240px;
}
