@import 'src/css/colors';

.request-wrapper {
  padding: $medium-padding $small-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.landing-wrapper {
  padding: $medium-padding $small-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.request {
  max-width: $form-width;
  margin: $small-padding auto;
  padding: $small-padding $medium-padding;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px black;

    h3 {
    border-bottom-style: solid;
    border-bottom-color: $voltera-green;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    margin-top: 40px;
  }

    img {
    max-width: 100%;
    height: auto;
  }

  .missing {
    color: red;
    text-align: center;
  }

  .format {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .format p {
    flex-basis: 240px;
    text-align: right;
    margin: 3px;
  }

  .button-wrapper {
    margin: $small-padding 0px;
    text-align: center;

    .button {
      margin-left: $small-padding;
    }
  }

  input, textarea, select {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 3px;
  }

  textarea {
    height: 40px;
    width: 100%;
  }

  .text-input {
    max-width: 130px;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }

  .wide-text {
    flex-basis: 101px;
    text-align: right;
    margin: 3px;
    flex-grow: 0;
  }

  .wide-select,.time-select {
    margin: 3px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .date-wrapper {
    text-align: center;
    margin: $small-padding 0px;
  }

  label {
    user-select: none;
  }


  .circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .slit {
      width: 50px;
      background-color: $voltera-blue;
      height: 2px;
    }

    .circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: $voltera-blue;
      background-color: $voltera-blue;
    }
    .circle.filled {
      background-color: $voltera-green;
    }
  }
}


.request .wrapper p {
  margin: 3px;
}


@media (max-width: $mobile-threshold) {
  .request {
    padding: $small-padding $small-padding;
  }
}
