@import 'src/css/colors';

.product-picture {
  img {
      width: 100%;
      height: auto;
      max-width: 500px;
  }

  .additional {
    display: flex;
    align-items: center;

    img {
      max-width: 125px;
      margin: 5px;
      cursor: pointer;
    }

    img:hover {
      box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      text-decoration: none;
    }
  }
}
