@import 'css/colors';

.cartridge {
background-position: bottom;
background-image: url('./cartridges.png');
background-size: contain;
height: 500px;
width: $max-width;
margin: auto;

}
.cartridge-wrapper {
  margin: auto;
  max-width: $max-width;
  padding: $vertical-padding $horizontal-padding;
}
