@import 'css/colors';

.product {
background-color: $white-background;

}
.product-wrapper {
  margin: auto;
  max-width: $max-width;
  padding: $vertical-padding $horizontal-padding;
}

.product h2 {
  text-align: left;
}

.my-product {
  background-image: url('./../../pages/assets/SmallWithTransparency.png');
  background-position: bottom;
  width: 800px;
  height: 600px;
  position: relative;
}

.dispenser {
  position: absolute;
  left: 30px;
  background-color: red;
  width: 100px;
  height: 100px;
}

.dispenser:hover {
  background-color: green;
}

.clamps {
  position: absolute;
  left: 50px;
  top: 50px;
  background-color: pink;
  width: 100px;
  height: 100px;
}
.clamps:hover {
  background-color: green;
}
