@import 'css/colors';

.software {
  padding: $medium-padding $small-padding;
  max-width: $max-width;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;

}

.software-image {
  height: 500px;
  width: 600px;
  flex-shrink: 0;
}

.software .description {
  flex-basis: 500px;
  flex-grow: 1;
  flex-shrink: 1;

}
