@import 'src/css/colors';

.software {
  padding: $medium-padding $small-padding;
  max-width: $max-width;
  margin: auto;

  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
