// Colors in fonts and backgrounds.
$voltera-blue: #333E48; // For light backgrounds.
$voltera-green: #79ce00;
$white: #FFF;

// Background colors (Some colors were taken from http://colorpalettes.net/color-palette-116/)
$light-grey: rgb(245,245,245); // Almost white, used for shadows.
$black: #0f0f0f; // Almost black, used in header / footer
$medium-grey: rgb(40, 40, 40);//#373737; // dark grey used in mini-hero andsome banners.
$soft-grey: #848388; // Used in footer
$divider: rgb(200, 200, 200);

// General Dimensions
$form-width: 600px;
$max-width: 1200px;
$narrow-width: 1100px;
$header-height: 75px;
$mobile-header-height: 50px;
$subheader-height: 38px;

// Section paddings
$small-padding: 20px; // How close items can get to the edge.
$medium-padding: 40px; // Distance between sections (usually a color change)
$large-padding: 80px;
$large-mobile-padding: 60px;


// Mobile Transition Thresholds
$mobile-threshold: 800px;

// Transition time
$t-time: 0.1s;
$t-time-opacity: 0.2s;
