@import './colors.scss';

body {
  font-family: 'Open Sans', sans-serif;
  color: $voltera-blue;
  margin: 0px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: $voltera-blue;
  font-weight: 600;
  text-align: center;

}

h2 {
  font-family: 'Raleway', sans-serif;
  color: $voltera-blue;
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;

}

p {
  line-height: 1.8em;
}

h3 {
  color: $voltera-blue;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

a {
    cursor: pointer;
    color: $voltera-green;
    text-decoration: none;
    transition: all $t-time ease-in-out 0s;
}

img {
  border-radius: 5px;
}

.pull-center {
  text-align: center;
}
.pull-right {
  text-align: right;
}

.pull-left {
  text-align: left;
}

.dummy-header {
  height: $header-height;
}

.center-wide {
  max-width: $max-width;
  margin: auto;
}

// Creates a centered flex row.
.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
