@import 'src/css/colors';


.mini-hero-wrapper {
  background-color: $medium-grey;
  min-height: 400px;
  width: 100%;
  padding: 0px $small-padding;

  display: flex;
  justify-content: center;

  h1 {
    color: $white;
    font-size: 2.5em;
  }
  p {
    font-size: 1.1em;
  }
}

.mini-hero {
  margin: auto;
  max-width: $narrow-width;
  color: $white;
  text-align: center;
}

.mini-spacer {
  margin-top: $subheader-height;
}

.mini-hero .fast-fact-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
