@import 'src/css/colors';


.mini-hero-wrapper {
  background-color: $dark-grey;
  min-height: 400px;
  padding: 0px $small-padding;

  display: flex;
  justify-content: center;

  h1 {
    color: $white;
  }
}

.mini-hero {
  margin: auto;
  max-width: $narrow-width;
  color: $white;
  text-align: center;
}

.mini-hero .fast-fact-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
