@import "src/css/colors";

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: $mobile-threshold) {
  .checkboxes {
    justify-content: flex-start;
  }
}
