@import 'src/css/colors';

.fast-fact {

  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-color: $voltera-green;
  border-width: 3px;
  border-style: solid;
  margin: $medium-padding $medium-padding;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.fast-fact h4 {
  font-size: 1.6em;
  line-height: 0.8em;
  margin: 4px;
  font-weight: 300;
}

.fast-fact p {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 0.9em;
  margin: 3px;
}

@media (max-width: $mobile-threshold) {
  .fast-fact {
    margin: $small-padding  10px;
    font-size: 0.7em;
    
    width: 80px;
    height: 80px;
  }
}
