@import "src/css/colors";

.wrapper {
  background-color: $voltera-blue;
  height: 45px;

  position: fixed;
  top: $header-height;
  width: 100%;
  z-index: 1;
}

.content {
  margin: auto;
  max-width: 1200px;
  padding: 10px 20px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-right: 5px;
  }
}

.search-bar {
  width: 300px;
  border-radius: 15px;
  border-style: none;
  padding: 5px 5px 5px 10px;
}

.search-bar:focus {
  outline: none;
}

@media (max-width: $mobile-threshold) {
  .wrapper {
    top: $mobile-header-height;
  }
  .search-bar {
    width: 200px;
  }
}
