@import 'css/colors';

.feature {
  max-width: $max-width;
  padding: $vertical-padding 0px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.feature .description {
  padding: 0 30px;
  flex-basis: 500px;
  flex-grow: 1;
  text-align: justify;
}

.feature .button-wrap {
  margin-top: 50px;
  text-align: center;
}
