
.box-wrapper-drill {

  h2 {
    text-align: left;
  }

  .mobile-contents p {
    line-height: 1.4em;
  }

  .description {
    max-width: 500px;
  }

  .try-me-drill {
    background-image: url('./try-me-drill-min.png');
    background-position: bottom;
    width: 600px;
    height: 400px;
  }

  .try-me-drill:hover {
    cursor: pointer;
  }

  .in-the-box {
    background-image: url('/drill-box-min.png');
    background-position: bottom;
    width: 600px;
    height: 400px;
    position: relative;
    flex-shrink: 0;
  }

  .outline {
    opacity: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
  }

  .outline:hover {
    opacity: 1;
  }
  
  .visible {
    opacity: 1;
  }

  .drill {
    background-image: url('./drill.min.svg');
    top: 153px;
    left: 273px;
    width: 53px;
    height: 118px;
  }

  .drill-bit-container {
    background-image: url('./drill-bit-container.min.svg');
    left: 119px;
    top: 117px;
    width: 116px;
    height: 79px;
  }
}
