@import 'src/css/colors';


.benefits-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: $large-padding $small-padding;
  justify-content: space-around;
}

.benefits {
  flex-basis: 370px;
  text-align: center;
  padding: $small-padding 0px;
}

.benefits .button-wrap {
  padding: $medium-padding 0px;
}

.benefits img {
    width: 60px;
    height: 60px;
}
