@import 'src/css/colors';
.benefits-selector-wrapper {
  background-color: $white-background;
  padding: $medium-padding $small-padding;
}

.benefits-selector {
  max-width: $max-width;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .benefit-teaser {
    flex-basis: 400px;
    text-align: center;
    padding: $medium-padding $small-padding;
    box-sizing: border-box;
  }

  .benefit-teaser .description {
    text-align: justify;
  }

  .benefit-teaser .button-wrap {
    padding: $medium-padding 0px;
  }

  .benefit-teaser img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width:$mobile-threshold) {
  .benefits-selector {
    justify-content: center;
  }
}
