@import 'src/css/colors';

.footer-wrapper {
  background-color: $black;
  width: 100%;
  padding: $medium-padding $small-padding;
  box-sizing: border-box;

  a {
    color: $soft-grey;
  }

  a:hover{
    color: $voltera-green;
    text-decoration: none;
  }
}

.footer {
  max-width: $max-width;
  margin: auto;
  align-items: flex-start;

  ul {
    list-style: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  li {
    color: $soft-grey;
    font-size: 14px;
    line-height: 1.8em;
    font-weight: 400;
  }

  p {
    margin: 0px;
    color: $white;
    font-size: 1.2em;
  }

  .social-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  .column {
    flex-basis: 200px;
  }

  .form {
    margin-top: 10px;
  }

  .form-email {
    padding: 5px;
    display: inline;
    max-width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: none;
  }
  .form-button {
    display: inline;
    padding: 5px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: none;
  }

}

.footer-links {
  color: $soft-grey;
  font-size: 0.9em;
  max-width: $max-width;
  text-align: right;
  margin: auto;
}

@media (max-width: $mobile-threshold) {
  .footer{
    justify-content: center;

    .column {
      padding-top: $small-padding;
    }
  }
  .footer-links {
    text-align: center;
    padding-top: $small-padding;
  }
}
