@import 'src/css/colors';

.benefit-wrapper {
  padding: $large-padding $small-padding;
}

.benefit {
  max-width: $max-width;
  margin: auto;
}

// Print Probing.
.benefit .row-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: $medium-padding $small-padding;
}

.benefit .description {
  max-width: 500px;
  margin: $small-padding $small-padding;
  flex-shrink: 1;
}
