@import 'src/css/colors';

.coming-soon-wrapper {
background-color: $medium-grey;
padding: $large-padding $small-padding;
color: $white;

text-align: center;

  strong {
    color: $voltera-green;
  }

  h1 {
  color: $white;
 }

 p {
   margin: 0px;
   font-size: 1.3em;
 }
}
