@import 'src/css/colors';

.in-touch {
  max-width: 900px;
  margin: auto;

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.in-touch .action {
  max-width: 300px;
  text-align: center;
  padding: $medium-padding 0px;
}

.in-touch .button-wrap {
  padding: $small-padding 0px;
}

.in-touch img {
  width: 60px;
  height: 60px;
}
