@import 'src/css/colors';

.cta-wrapper {
background-color: $voltera-green;
padding: $medium-padding $small-padding;
}

.cta h2 {
  margin: 0px;
}

.cta p {
  margin: 0px;
  font-size: 1.3em;
}

.cta .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cta .button {
  margin-left: $small-padding;
}

@media (max-width: $mobile-threshold) {
  .cta .button {
    margin-top: $small-padding;
  }
}
