@import 'src/css/colors';

.cta-wrapper {
background-color: $voltera-green;
padding: $medium-padding $small-padding;
}

.cta {

  margin: auto;
  max-width: $max-width;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.cta h2 {
  margin-bottom: 0px;
}

.cta p {
  margin-top: 0px;
  font-size: 1.3em;
}

@media (max-width: $mobile-threshold) {
  .cta {
    justify-content: center;
  }
}
